{{!-- <h2>Hello world! 這是 index</h2> --}}
<a href="./todos/new">Create</a>


<ul>
  {{#each todos}}
    <li>
      {{this.name}}
      {{!-- 瀏覽特定 To-do / 新增功能入口 --}}
      <a href="./todos/{{ this._id }}">detail</a>
      <a href="./todos/{{ this._id }}/edit">edit</a><!-- 加入這行 -->
    </li>
  {{/each}}
</ul>